<nav class="navbar navbar-light">
  <a class="navbar-brand" routerLink="/"><img src="assets/images/logo.png" /></a>

  <!-- Show this for logged out users -->
  <ul *appShowAuthed="true" class="nav navbar-nav pull-xs-right">

    <div class="user-login-header"  >
      <a class="user-login">
        <img src="assets/images/user-header.png" />{{currentUser.username}}
        <span>
          <img src="assets/images/header-dot.png" />
        </span>
        <div class="header-user-dropdown">
          <ul>
            <li><a (click)="logout()"> Log Out</a></li>
          </ul>
        </div>
      </a>
    </div>
  </ul>

  <!-- Show this for logged in users -->
  <!-- <ul *appShowAuthed="true" class="nav navbar-nav pull-xs-right">

    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/editor" routerLinkActive="active">
        <i class="ion-compose"></i>&nbsp;New Article
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/settings" routerLinkActive="active">
        <i class="ion-gear-a"></i>&nbsp;Settings
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/profile', currentUser.username]" routerLinkActive="active">
        <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" /> {{ currentUser.username }}
      </a>
    </li>

  </ul> -->
  <button class="nav-mobile" (click)="toggleCollapse()"><img src="assets/images/list-menu.png"/></button>
  <div *ngIf="!isCollapsed" class="sidebar-menu-mobile">
    <ul>
      <li><a [routerLink]="['/dashboard/editor']"  (click)="toggleCollapse()"><img src="assets/images/file-icon.png"> New</a></li>
      <li><a (click)="download()"><img src="assets/images/download-icon.png"> Download</a></li>
      <li><a [routerLink]="['/joblisting']" (click)="toggleCollapse()"><img src="assets/images/list-icon.png"> Job Listing</a></li>
      <li><a [routerLink]="['/profile']" (click)="toggleCollapse()"><img src="assets/images/user-dashboard.png"> Profile</a></li>
      <li><a [routerLink]="['/faq']" (click)="toggleCollapse()"><img src="assets/images/info-icon.png">Help</a> </li>
    </ul>
  </div>

</nav>


