<div class="sidebar">
  <div class="top-dashboard-link">
    <ul>
      <li>
        <a>
          <img src="../assets/images/file-icon.png" />
          <div class="drop-dwnmenu">
            <ul>
              <li>
                <a [routerLink]="['/dashboard/welcome']">New
                  <span>Upload</span>
                </a>
              </li>
            </ul>
          </div>
        </a>

      </li>
      <li>
        <a>
          <img src="../assets/images/download-icon.png" />
          <div class="drop-dwnmenu">
            <ul>
              <li>
                <a>Copy
                  <span>Download</span>
                </a>
              </li>
            </ul>
          </div>
        </a>

      </li>
      <li>
        <a>
          <img src="../assets/images/list-icon.png" />
          <div class="drop-dwnmenu">
            <ul>
              <li>
                <a>Job Listing

                </a>
              </li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-dashboard-link">
    <ul>
      <li>
        <a>
          <img src="../assets/images/user-dashboard.png" />
          <div class="drop-dwnmenu">
              <ul>
                <li>
                  <a [routerLink]="['/profile']">Profile

                  </a>
                </li>
              </ul>
            </div>
        </a>
      </li>
      <li>
        <a>
          <img src="../assets/images/info-icon.png" />
          <div class="drop-dwnmenu">
              <ul>
                <li>
                  <a>Help

                  </a>
                </li>
              </ul>
            </div>
        </a>
      </li>
    </ul>
  </div>
</div>