<div class="sidebar">
  <div class="top-dashboard-link">
    <ul>
      <li>
        <a>
          <img src="assets/images/file-icon.png" (click)="loadJobEditor()"/>
          <div class="drop-dwnmenu">
            <ul>
              <li>
                <span>New</span>
              </li>
            </ul>
          </div>
        </a>

      </li>
      <li>
        <a>
          <img src="assets/images/download-icon.png" (click)="download()"/>
          <div class="drop-dwnmenu">
            <ul>
              <li>
                <span (click)="download()">Download</span>
              </li>
            </ul>
          </div>
        </a>

      </li>
      <li>
        <a>
          <img src="assets/images/list-icon.png" [routerLink]="['/joblisting']"/>
          <div class="drop-dwnmenu">
            <ul>
              <li>
                <span>Job Listing</span>
              </li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-dashboard-link">
    <ul>
      <li>
        <a>
          <img src="assets/images/user-dashboard.png" [routerLink]="['/profile']"/>
          <div class="drop-dwnmenu">
              <ul>
                <li>
                  <span>Profile</span>
                </li>
              </ul>
            </div>
        </a>
      </li>
      <li>
        <a>
          <img src="assets/images/info-icon.png" />
          <div class="drop-dwnmenu">
              <ul>
                <li>
                  <a>Help

                  </a>
                </li>
              </ul>
            </div>
        </a>
      </li>
    </ul>
  </div>
</div>