<div class="home-page">

  <!-- <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your <i>Angular 2</i> knowledge.</p>
    </div>
  </div> -->
  <div id="content">

    <div class="right-side">
      
      <form [formGroup]="homeForm"  >
      <div class="job-form">
        <div class="row">
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <div class="job-form-inner">
            <div class="form-group">
              <input  formControlName="ad_title" [readonly]="isReadonly" type="text" class="form-control department" placeholder="Job  Title" [ngClass]="{ 'is-invalid': f.ad_title.touched  && f.ad_title.errors}">
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 right-padding-none">
                <div class="form-group">
                  <input formControlName="department"   [readonly]="isReadonly" type="text" class="form-control" placeholder="Department" [ngClass]="{ 'is-invalid': f.department.touched  && f.department.errors}">
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 right-padding-none small-padding">
                <div class="form-group">
                  <input formControlName="company"  [readonly]="true"  type="text" class="form-control" placeholder="Company" [ngClass]="{ 'is-invalid': f.company.touched  && f.company.errors}">
                </div> 
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 right-padding-none small-padding">
                <div class="form-group">
                  <input formControlName="city"  [readonly]="isReadonly" type="text" class="form-control" placeholder="City" [ngClass]="{ 'is-invalid': f.city.touched  && f.city.errors}">
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                  <input formControlName="country"  [readonly]="isReadonly"  type="text" class="form-control" placeholder="Country" [ngClass]="{ 'is-invalid': f.country.touched  && f.country.errors}">
                </div>
              </div>
            </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 left-padding">
            <div class="form-group small-width">
              <button *ngIf="displayButton('create')" class="btn btn-primary" (click)="openModal(template)" [disabled] ="!homeForm.valid" >Share</button>
            </div>
            <div class="form-group small-width">
              <button *ngIf="displayButton('share')" class="btn btn-primary" (click)="openModal(template)" [disabled] ="!homeForm.valid" >Share</button>
            </div>
            <div class="form-group small-width1">
              <button   *ngIf="displayButton('approve')" class="btn btn-success"  (click)="approve(templates)">Approval</button>
            </div>
            <div class="form-group small-width1">
              <button   *ngIf="displayButton('finish')" class="btn btn-success"  (click)="finish(templates)">Finish</button>
            </div>
            <div class="form-group small-width1">
                <button   *ngIf="displayButton('ownerfinish')" class="btn btn-success"  (click)="finish(templates)">Finish</button>
              </div>
            <div class="form-group small-width1">
              <button   [disabled]="true" *ngIf="displayButton('finishread')" class="btn btn-success"  >Finish</button>
            </div>
            <div class="form-group small-width1">
              <button   [disabled]="true" *ngIf="displayButton('finishr')" class="btn btn-success"  >Finish</button>
            </div>


          </div>
        </div>
      </div>


  
      <div class="content-all">
        <div class="upload-height" *ngIf="openScreen">
          <div class="type-upload">
            <div class="upload-text">
              <h2>Type, Paste or 
                <span class="upload-file">
                  <!-- <input type="file"> -->
                  <strong (click)="loadJobEditor()">upload</strong>
                </span> your job ad</h2>
            </div>
          </div>
        </div>
      
        <div class="row" *ngIf="!openScreen">
          <div class="col-lg-9 col-dropdownmd-9 col-sm-9 col-xs-12 border-grey">
            <div class="text-editor">
                <app-ngx-editor formControlName="ad_body"  [ngClass]="addClass()"  (keydown)="onKeydown($event)" [placeholder]="'Enter text here...'" [spellcheck]="false" (paste)="pasteEvent($event)" [(ngModel)]="ad_body" (ngModelChange)="modelChanged($event)" ></app-ngx-editor>

      <div class="scored-five">

        <button class="btn btn-success" [disabled] ="saveState()" (click)="saveJob()">Save</button>
         <!-- <h5>{{savingStatus}}</h5>  -->
      </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="right-sidebar">
              <div class="score-widget">
                <h3>
                  <img src="../assets/images/dd-logo.png" /> </h3>
                <div class="graph">
                  <img class="img-fluid" src="../assets/images/graph-img.png" />
                  <div class="graph-caption">
                    <h2>{{ddScore}}</h2>
                    <h6 *ngIf="ddScore">Low Biased</h6>
                  </div>
                </div>
              </div>
              <div class="gender-wordings">
                <h5>Gender Wording</h5>
                <div class="per-count">
                  <span>{{percBiasedMaleWords}}</span>
                  <img class="img-fluid" src="../assets/images/gender-icon.png" />
                  <span>{{percBiasedFemaleWords}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </form>

    </div>
  </div>

  <!-- share modal-->

  <ng-template #template>
    <div class="share-modal-pop share-pop-up">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Share with others</h4>
      </div>
      <div class="modal-body">
        <div class="share-input">
         
          <div *ngFor="let alert of alerts">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
            </div>
          <input type="text" class="form-control"   [typeahead]="statesComplex"
          typeaheadOptionField="email"  placeholder="reviewer@reviewer.dk" [(ngModel)]="email">
         
          <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
          <!-- <pre class="card card-block card-header mb-3">Model: {{customSelected | json}}</pre>
          <input [(ngModel)]="customSelected"
                 [typeahead]="statesComplex"
                 typeaheadOptionField="name"
                 class="form-control"> -->
        </div>
        <div class="madal-footer">
          <button class="btn btn-success" (click)="openModal2(templates)">Done</button>
          <button class="btn btn-link">Advanced</button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #templateOnLoad>
    <div class="share-modal-pop">
   
      <div class="modal-body">
        <div class="step-by-step">
          <h6>Step By Step</h6>
          <ul>
            <li>Fill up the top boxes: Job Title, Department, Organization, City Country</li>
            <li>Type, paste or upload your job ad behind this pop-up window or
              <img src="../assets/images/file-icon-black.png"
              />
            </li>
            <li>Send your job ad to your colleague by pressing “Share”</li>
            <li>When the job ad is ready for publishing, press “Approval”</li>
            <li>Copy or download your job ad
              <img src="../assets/images/download-icon-black.png" />
            </li>
          </ul>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true" (click)="setDialogState()" [(ngModel)]="dialogRemember">
              Don’t show me again</label>
          </div>
          <a class="close"  (click)="closeFirstModal()">
            <img src="../assets/images/step-close.png" />
          </a>
        </div>
      </div>
    </div>
  </ng-template>



  <ng-template #templates>
    <div class="message-modal-pop">
      <div class="modal-header">
        <h5>Message</h5>

      </div>
      <div class="modal-body">
        <p>{{templateMsg}}</p>
      </div>
    </div>
  </ng-template>

  <!-- share modal end-->
  
  <span style="visibility: hidden" id="modal" (click)="openModal3(templateOnLoad)"></span>

</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  
  type="ball-scale-multiple">
</ngx-spinner>
