.nav-link {
  cursor: pointer;
}

.tag-pill {
  cursor: pointer;
}



.job-form {
  width:100%;
}

.job-form input[type="text"] {
  height: 34px;
  font-size: 17px;
  border-radius: 5px;
}
.job-form input[type="text"].department {
  height:45px;
  font-size: 24px;
  border-radius: 5px;
}
.job-form .form-group {
  margin-bottom: 7px;
}
.right-padding-none {
  padding-right:0;
}
.small-padding {
  padding-left: 10px;
}
.job-form .btn-primary {
  width:100%;
  /* max-width: 140px; */
  background:url("../../assets/images/share-icon.png") no-repeat 0 0 #fff;
  height: 39px;
  border:none;
  text-align: center;
  font-size: 18px;
  font-weight:bold;
  transition:all 0.5s;
  background-position: 88% 9px;
  color: #333;
}
.job-form .btn-primary:hover {
  background:url("../../assets/images/share-icon.png") no-repeat 0 0 #d33f24;
  background-position: 88% -23px;
  color:#fff;
}
.job-form .btn-success {
  width:100%;
  /* max-width: 140px; */
  background:url("../../assets/images/tick-icon.png") no-repeat 0 0 #fff;
  height: 39px;
  border:none;
  text-align: center;
  font-size: 18px;
  font-weight:bold;
  transition:all 0.5s;
  background-position: 88% 9px;  
  color: #333;
}
.job-form .btn-success:hover {
  background:url("../../assets/images/tick-icon.png") no-repeat 0 0 #d33f24;
  background-position: 88% -23px;
  color:#fff;
}
.job-form .btn-primary img {
  margin-left:5px;
  margin-top: -6px;
}
.content-all {
  width:100%;
  background: #fff;
  border-radius:7px;
  padding: 25px;
  margin-top: 15px;
  position: relative;
}
.content-all .step-by-step {
  max-width:603px;
  width:100%;
  margin:auto;
  border: 2px solid #838383;
  padding:20px;
  border-radius:5px;
  position:relative;
  display: none;
}
.content-all .step-by-step h6 {
  color:#22201b;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 19px;
}
.content-all .step-by-step ul {
  padding:0;
  margin:0;
  display:block;
  list-style: none;
}
.content-all .step-by-step ul li {
  list-style: decimal inside;
  font-size: 17px;
  margin-bottom: 9px;
}
.content-all .step-by-step .close {
  position: absolute;
  top: -15px;
  right: -16px;
  opacity: 1;
}
.content-all .step-by-step img {
  margin-left: 7px;
}
.content-all .step-by-step .checkbox {
  margin-top: 25px;
}
.content-all .step-by-step input[type="checkbox"] {
  margin-right: 7px;
  vertical-align: top;
  margin-top: 6px;
 
}
.right-sidebar {
  width:100%;
}
.right-sidebar .score-widget {
  width:100%;
}
.right-sidebar .score-widget h3 {
  text-align:center;
  font-size:30px;
  font-style:italic;
  margin-bottom:20px;
}
.gender-wordings {
  width:100%;
  margin-top: 9px;
  text-align: center;
}
.gender-wordings h5 {
  text-align:center;
  font-size:26px;
  margin-bottom:20px;
  font-weight:500;
  color: #0b0b0b;
  display:inline-block;
  text-decoration:underline;
}
.gender-wordings span {
  font-size:21px;
  color: #0b0b0b;
}
.gender-wordings img {
  display: inline-block;
  max-width: 52px;
  width:100%;
  margin:0 20px;
}
.scored-five {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 75px;
}
.scored-five .btn-success {
  background: #dc482d;
    border-radius: 5px;
    border: 2px solid #dc482d;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0,0,0,0.75);
    /* font-weight: bold; */
    font-size: 21px;
    padding: 8px 33px;
    float: left;
    transition:all 0.5s;
    position: absolute;
    left:0;
} 
.scored-five .btn-success:hover {
  background:none;
  border: 2px solid #dc482d;
  
}
.scored-five h5 {
  color: #fff;
  text-align: center;
  margin-top: 17px;
  display: inline-block;
  font-size: 20px;
}
.type-upload {
  display: table;
  height: 100%;
  width: 100%;
}
.type-upload  .upload-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.upload-height {
  height:350px;
}
.type-upload  .upload-text h2 {
color:#9b9b9b;
}
.upload-text .upload-file {
  position:relative;
}
.upload-text .upload-file input[type="file"] {
  width: 100px;
  opacity: 0;
  position: relative;
  z-index: 9;
}
.upload-text .upload-file strong {
  position: relative;
  left: 0;
  font-weight: normal;
  top: 4px;
  text-decoration: underline;
}
.share-pop-up {
border:none !important;
}
.job-form-inner {
  padding-right: 12px;
}
.left-padding {
padding-left:0;
}
.graph-caption {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  right: 5%;

}
.graph {
  position: relative;
}
.graph-caption h2 {
  font-size: 44px;
  color: #000;
  font-weight: 500;
  margin-bottom: 0;
}
.graph-caption h6 {
  font-size: 19px;
  color: #000;
}
.border-grey:after {
  content: "";
  border-right: 1px solid #eee;
  width: 1px;
  height: 125%;
  position: absolute;
  right: -10px;
  top: -51px;
}
.content-all {
  overflow: hidden;
}
.border-grey {
  border:none;
}
.text-editor {
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;
}
.gender-wordings ul {
  list-style: none;
  text-align: left;
  margin-left: 0;
  padding: 0;
  max-width: 160px;
  width: 100%;
  margin: auto;
}
.gender-wordings li span {
  font-size: 17px;
  color: #0b0b0b;
  background: #25b0ef;
  padding: 6px 0px;
  display: inline-block;
  border-radius: 10px;
  margin-right: 7px;
  width: 55px;
  text-align: center;
}
.gender-wordings li {
  display: list-item;
  margin-bottom: 5px;
  font-size: 18px;
}
.gender-wordings li:nth-child(2) span {
background: #f641ff;
} 
.gender-wordings li:nth-child(3) span {
  background:#ed7c31;
} 
.gender-wordings li:nth-child(4) span {
  background:#35b150;
} 

.ngx-editor-textarea div {
  display: none;
}